/* Main layout */
body {
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
}

.wrapper {
  width: 80%;
  max-width: inherit;
  margin: 0 auto;
}

.innerWrapper {
  width: 60%;
  align-content: center;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: inherit;
  margin: 0 auto;
}

/* Navbar 
---------------------------------------*/
.Navbar {
  height: 5em;
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Layout for logged in user
-----------------------------------------*/
.projects {
  overflow-y: scroll;
  height: 85vh;
}

.todo {
  overflow-y: scroll;
  height: 85vh;
}

/* Image
----------------------------------------*/
.landing-img {
  max-width: 600px; 
  height:auto;
}

/* Fonts, text size etc 
-----------------------------------------*/
p {
  text-align: left;
}


/* btn´s
-------------------------------------------------*/

.standard-btn {
	margin-top: 20px;
	border-radius: 25px;
	background-color: rgb(255,112,67);
	color: #fff;
	box-shadow: 2px 8px 18px 3px rgba(0, 0, 0, .2);
	font-size: 18px;
	line-height: 1.5em;
	height: 100%;
	width: 85%;
	padding: 5px;
	font-weight: 500;
	text-align: center;
  cursor: pointer;
  max-width: 400px;
}

.remove-btn {
	background-color: #ff0000;
	margin-top: 0.2em;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 70%;
  cursor: pointer;
  float: right;
}

.project-btn {
  width: 90%;
  border: 0px;
  background-color: #fafafa;
  font-weight: 700;
  padding: 0.6em;
  border-left: 0.3em solid rgb(255,112,67);
  cursor: pointer;
}

button:link {
  background-color: #eee;
}

/* Style for checkbox todo done or not 
----------------------------------------------------------*/
/* Hide the browser's default checkbox */
.togglebox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0.2em;
  left: 0.7em;
  height: 25px;
  width: 25px;
  background-color: none;
}

/* On mouse-over, add a grey background color */
.togglebox:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.togglebox input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.togglebox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.togglebox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Forms
--------------------------------------------------*/
form, .signup {
  max-width: 400px;
  min-width: 200px;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto;
}

/* ul, ui, li 
------------------------------------------------*/
.todolist li {
  margin-bottom: 0.5rem;
	list-style: none;
  padding: 10px;
  border-radius: 5rem;
  border: 1px #ccc dotted;
  box-shadow: 4px 7px 10px 3px rgba(197, 196, 196, .2);
}

.projects li {
  list-style: none;
  padding: 0.4em;
  border: 1px dotted #ccc;
  border-radius: 5em;
  background-color: #fafafa;
}