/* Main layout */
body {
	font-family: Arial, Helvetica, sans-serif !important;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
}

.wrapper {
  width: 80%;
  max-width: inherit;
  margin: 0 auto;
}

.innerWrapper {
  width: 60%;
  align-content: center;
  margin: 0 auto;
}

.container {
  width: 100% !important;
  max-width: none !important;
  margin: 0 auto;
}

/* Navbar
---------------------------------------*/
.Navbar {
	width: 100%;
	height: 4em;
  margin-bottom: 40px;
  padding-left: 50px;
	padding-right: 50px;
}


/* Layout for logged in user
-----------------------------------------*/
.projects {
  overflow-y: scroll;
  height: 85vh;
}

.todo {
  overflow-y: scroll;
  height: 85vh;
}

/* Fonts, text size etc 
-----------------------------------------*/
p {
  text-align: left;
}

h1, h2, h3, h4, h5 {
	margin: 0.67em;
}


/* btn´s
-------------------------------------------------*/

.standard-btn {
	border-radius: 25px;
	background-color: rgb(255,112,67);
	color: #fff;
	box-shadow: 2px 8px 18px 3px rgba(0, 0, 0, .2);
	font-size: 18px;
	line-height: 1.5em;
	height: 100%;
	width: 85%;
	padding: 0.4rem;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	max-width: 350px;
}

.remove-btn {
	width: 36px;
	height: 36px;
  max-width: 2em;
	max-height: 2em;
	background-color: #ff0000;
	margin-top: 0.2em;
  color: #fff;
  border: none;
  padding: 0.2em 0.4em;
  border-radius: 70%;
  cursor: pointer;
  float: right;
}

.project-btn {
  width: 90%;
  border: 0px;
  background-color: #fafafa;
  font-weight: 700;
  padding: 0.6em;
  cursor: pointer;
}

button.project-btn:active {
  background-color: transparent !important;
}
button.project-btn:focus {
  background-color: transparent !important;
}

button.standard-btn:active {
  background-color:  rgb(255,112,67);
  opacity: 0.7;
}
button.standard-btn:focus {
  background-color:  rgb(255,112,67);
  opacity: 0.7;
}

button:link {
  background-color: #eee;
}

/* Style for checkbox todo done or not 
----------------------------------------------------------*/
/* Hide the browser's default checkbox */
.togglebox input {
  position: absolute;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  margin-right: 0.4rem;
  top: 0.2rem;
  left: 1rem;
  height: 25px;
  width: 25px;
  background-color: none;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


/* Forms
--------------------------------------------------*/
form {
  max-width: 450px;
  min-width: 200px;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto;
}

/* Add project modal */
form label {
	color: #000;
	font-size: 1.2rem;
}

.signup {
	margin-bottom: 3.5rem;
}

.signin {
	margin-bottom: 3.5rem;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color:rgb(255,112,67);
  box-shadow: none;
}

/* ul, ui, li 
------------------------------------------------*/
.todolist {
	margin: 0px;
}

.todolist li {
  margin-bottom: 0.5rem;
  font-weight: 600;
  list-style: none;
  padding: 0.4em;
	border-radius: 5rem;
	border: 1px dotted #ccc;
	box-shadow: 4px 7px 10px 3px rgba(212, 211, 211, 0.2);
}

.projects li {
  margin-bottom: 0.5rem;
  list-style: none;
  padding: 0.4em;
  border-radius: 5em;
	background-color: #fafafa;
	border: 1px dotted #ccc;
	box-shadow: 4px 7px 10px 3px rgba(224, 223, 223, 0.2);
}

/* Landing page layout 
------------------------------------------------------------------------*/
.box1 h1 {
	font-size: 30px;
	font-style: italic;
}

.box2 ul {
	padding: 2rem;
	border: 1px dotted #DBD4CF;
	border-radius: 10px;
	box-shadow: 4px 7px 10px 3px rgba(197, 196, 196, .2);
}

.box2 li {
	list-style: circle !important;
	list-style-position: outside !important;
	padding: 0.1rem;
}

/* Flex for list items that contains projects and todos 
------------------------------------------------------------------------*/

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-1 {
  flex:15;
}
.flex-2 {
  flex:1;
}
.flex-3 {
  flex:1;
}

/* Notifications
---------------------------------------------------------------------------*/

.notifications {
  padding: 0 !important;
  border: none;
}

.notifications .card-panel {
  padding: 0.5em;
}

.notifications-warning {
	background-color:#cc3300 !important;
}

/* Media for implementation on smaller screens
---------------------------------------------------------------------------*/ 

@media only screen and (max-width: 993px) {
  .box-left h1 {
	  line-height: 100%;
  }
}

@media only screen and (max-width: 600px) {	
	.projects {
		height: auto;
	}

	.innerWrapper {
		width: 100%;
	}

	nav .brand-logo {
		margin-left: 2.5rem;
		float: none;
		font-size: 6vw;
		position: absolute;
		white-space: nowrap;
	}
}

@media only screen and (max-width: 510px) {
	.main h1 {
		font-size: 2.8rem;
	}

	.Navbar {
		margin-bottom: 5px;
	}
} 

